<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CLASSNET</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/room.js"></script>
</head>

<body>
    <h1>CLASSNET - {{ . }}</h1>

    <h3>You are:</h3>
    <div id="whois"></div>

    <h3>Subnets:</h3>
    <table id="subnet-table">
    </table>

    <h3>This is your Q/A table</h3>
    <table id="qa-table">
    </table>

    <h3>Challenges</h3>
    <table id="challenges-table">
    </table>
</body>

</html>